<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WinCC OA Outside Info</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WinCCOAOutsideInfoRepo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">WinCC OA Outside Info</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tips
                            </a>
                            <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/SystemInfo">System Information</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Debugging">Troubleshooting and Debugging</a>
                                <a class="dropdown-item" asp-area="" asp-page="/StructInfo">Introduction to Structs</a>
                                <a class="dropdown-item" asp-area="" asp-page="/PromisesWinCCOA">Functions on Return in WinCC OA</a>
                                <a class="dropdown-item" asp-area="" asp-page="/EnumIntro">Enumerators in WinCC OA</a>
                                <a class="dropdown-item" asp-area="" asp-page="/SQLQueries">SQL Query Constructions in WinCC OA</a>
                                <a class="dropdown-item" asp-area="" asp-page="/FunctionParameters">Extended Function Parameters Info</a>
                                <a class="dropdown-item" asp-area="" asp-page="/RuntimeTips">Tips for OOP $-Parameters in Runtime</a>
                                <a class="dropdown-item" asp-area="" asp-page="/SharedPointer">Introduction to Shared Pointers</a>
                                <a class="dropdown-item" asp-area="" asp-page="/CastingVariables">Understanding Casting and Conversion</a>
                                <a class="dropdown-item" asp-area="" asp-page="/CreateCSV">Create CSV files in WinCC OA</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tricks
                            </a>
                            <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                                <a class="dropdown-item" asp-area="" asp-page="/WordWrap">Word Wrap Trick</a>
                                <a class="dropdown-item" asp-area="" asp-page="/DollarParameterValidation">Dollar Parameter Validation Trick</a>
                                <a class="dropdown-item" asp-area="" asp-page="/AutoTables">Create and Populate Simple Tables in Panels</a>
                                <a class="dropdown-item" asp-area="" asp-page="/DialogFrameworkMaker">Dialog Framework Maker</a>
                                <a class="dropdown-item" asp-area="" asp-page="/isDataType">Data Type functions</a>
                                <a class="dropdown-item" asp-area="" asp-page="/DayPicker">Day Picker in WinCC OA</a>
                                <a class="dropdown-item" asp-area="" asp-page="/UTCTimeConversion">UTC Time Conversion Trick</a>
                                <a class="dropdown-item" asp-area="" asp-page="/TimeConversionJSON">Time Conversion from JSON Trick</a>
                                <a class="dropdown-item" asp-area="" asp-page="/GetterandSetterProperties">Getters and Setters for Properties in Panels</a>
                                <a class="dropdown-item" asp-area="" asp-page="/GetDistandReduSystems">Get Redundant and Distributed System Status</a>
                                <a class="dropdown-item" asp-area="" asp-page="/SystemInternalStorage">System Resources Monitoring</a>
                                <a class="dropdown-item" asp-area="" asp-page="/InputTypeValidation">Validate the Data Type of Inputs</a>
                                <a class="dropdown-item" asp-area="" asp-page="/SPeriod">Get the Change Based on Period</a>
                                <a class="dropdown-item" asp-area="" asp-page="/BacnetPriority">Bacnet Priority Array</a>
                                <a class="dropdown-item" asp-area="" asp-page="/CallExternalPrograms">Calling External Programs from WinCC OA</a>
                            </div>
                        </li>
                        <a class="nav-link text-dark" id="categoriesDropdown" role="button" asp-page="/MiscFacts">
                            Random Leftovers
                        </a>
                    </ul>
                    <form method="get" action="/SearchResult" class="form-inline my-2 my-lg-0 d-flex align-items-center">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                        <button class="btn btn-outline-success my-2 my-sm-0 d-flex align-items-center" type="submit">
                            <span class="bi bi-search"></span>
                            <span>Search</span>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Ivan Valadez Castañeda - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
