<h3>SearchBarComponent</h3>

@code {
    [Parameter] public EventCallback<string> OnSearch { get; set; }

    private string searchText;

    private void TriggerSearch()
    {
        OnSearch.InvokeAsync(searchText);
    }
}

<form class="search-bar-form" @onsubmit="TriggerSearch" role="search">
    <input type="text" @bind="searchText" placeholder="Search" class="form-control" />
    <button type="submit" class="btn btn-outline-success">Search</button>
</form>