@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    display: flex; 
    flex-direction: column;
    margin: 15px;
    min-width: 250px; 
    max-width: 300px; 
    width: calc(25% - 30px); /* Adjust width to ensure 4 cards per row */
    overflow: hidden; 
}

.card-body {
    flex: 1 1 auto;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    padding: 15px; 
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 20px;
    flex-grow: 1; 
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s;
    margin-top: auto; 
}

.btn-primary:hover {
    background-color: #0056b3;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-3 {
    flex: 0 0 25%; 
    max-width: 25%; 
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    display: flex; 
    align-items: stretch; 
}

@@media (max-width: 767px) {
    .container{
            margin-top: 20px;
            padding-left: 2%;
            padding-right: 2%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            margin-left:2%;
        }
    .card {
        transform: scale(0.9); 
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.1); 
        z-index: 10;
    }

    .card {
        width: calc(100% - 30px); /* Full width on small screens */
    }
}

    @@media (max-width: 450px) {
        .container {
            margin-top: 20px;
            padding-left: 2%;
            padding-right: 2%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            margin-left: .5%;
        }
    }

html {
  font-size: 14px;
}

@@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inline .form-control {
    margin-right: 10px;
}

.btn-outline-success {
    display: flex;
    align-items: center;
}

.btn-outline-success .bi-search {
    margin-right: 5px;
}
</style>

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">System Information</h5>
                    <p class="card-text">Explore tips and tricks for managing system information.</p>
                    <a asp-area="" asp-page="/SystemInfo" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Word Wrap Trick</h5>
                    <p class="card-text">Learn how to handle word wrap in your WinCC OA project.</p>
                    <a asp-area="" asp-page="/WordWrap" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dollar Parameter Validation Trick</h5>
                    <p class="card-text">Discover how to effectively manage dollar parameter validation.</p>
                    <a asp-area="" asp-page="/DollarParameterValidation" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Introduction to Structs in WinCC OA</h5>
                    <p class="card-text">A brief explainer of how to use Structs in WinCC OA and examples to use.</p>
                    <a asp-area="" asp-page="/StructInfo" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Extended Function Parameters Info</h5>
                    <p class="card-text">Check what extra options can you use for Function Parameters </p>
                    <a asp-area="" asp-page="/FunctionParameters" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Get Redundant and Distributed System Status</h5>
                    <p class="card-text">Check the Status of Redundant and Distributed Systems Connected to your WinCC OA Project</p>
                    <a asp-area="" asp-page="/GetDistandReduSystems" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tips for OOP $-Parameters in Runtime</h5>
                    <p class="card-text">Tips that can Streamline OOP in WinCC OA using Dollar Parameters</p>
                    <a asp-area="" asp-page="/RuntimeTips" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Getters and Setters for Properties in Panels</h5>
                    <p class="card-text">Easy to use Getters and Setters for Properties set in the Graphical Elements</p>
                    <a asp-area="" asp-page="/GetterandSetterProperties" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Troubleshooting and Debugging</h5>
                    <p class="card-text">Adopt best practices for effective troubleshooting and debugging.</p>
                    <a asp-area="" asp-page="/Debugging" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Function that returns the Data Types Accordingly</h5>
                    <p class="card-text">Data Type Checking of variables in a better way</p>
                    <a asp-area="" asp-page="/isDataType" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SQL Query Construction</h5>
                    <p class="card-text">A basic Overview of how to introduce SQL Queries in WinCC OA</p>
                    <a asp-area="" asp-page="/SQLQueries" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Conversion to Time from JSON</h5>
                    <p class="card-text">A quick script that you can use to convert a JSON back into time</p>
                    <a asp-area="" asp-page="/TimeConversionJSON" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">UTC Time Conversion Trick</h5>
                    <p class="card-text">A snippet to transform a UTC time back to its original time for WinCC OA</p>
                    <a asp-area="" asp-page="/UTCTimeConversion" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dialog Framework Maker</h5>
                    <p class="card-text">Auto Dialog Framework Maker Script Generation</p>
                    <a asp-area="" asp-page="/DialogFrameworkMaker" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">On Return Functions in WinCC OA</h5>
                    <p class="card-text">Similar to Promises these Functions will help get values in return of precesses</p>
                    <a asp-area="" asp-page="/PromisesWinCCOA" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Day Time Picker in WinCC OA</h5>
                    <p class="card-text">Day Picker included in WinCC OA and some extra options</p>
                    <a asp-area="" asp-page="/DayPicker" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create and Populate Simple Tables</h5>
                    <p class="card-text">An Easy solution to create and populate Tables within Panels in Projects</p>
                    <a asp-area="" asp-page="/AutoTables" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Shared Pointers Intro</h5>
                    <p class="card-text">Introduction to Shared Pointers one of the best tools for object handling in WinCC OA</p>
                    <a asp-area="" asp-page="/SharedPointer" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">System Resources Monitoring</h5>
                    <p class="card-text">Check and Display the Internal Storage of the System in which the Application is Running</p>
                    <a asp-area="" asp-page="/SystemInternalStorage" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Validate the Data Type of Input Objects</h5>
                    <p class="card-text">With this code you can check the Data Type of an Input and set parameters to characters</p>
                    <a asp-area="" asp-page="/InputTypeValidation" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Get Changes based in a Time Period</h5>
                    <p class="card-text">Get Changes based on a time Period</p>
                    <a asp-area="" asp-page="/SPeriod" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
         <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Understanding Casting and Conversion</h5>
                    <p class="card-text">Brief Introduction of Variable Casting in WinCC OA and Convesion Methods</p>
                    <a asp-area="" asp-page="/CastingVariables" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Introduction to Enmerators in WinCC OA</h5>
                    <p class="card-text">Brief Introduction to Enumerators and useful features</p>
                    <a asp-area="" asp-page="/EnumIntro" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Calling External Programs from WinCC OA</h5>
                    <p class="card-text">call external programs like system tools or browsers seamlessly without direct user interaction with the OS</p>
                    <a asp-area="" asp-page="/CallExternalPrograms" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How to send Commands via Bacnet</h5>
                    <p class="card-text">Example of how to send Commands via Bacnet in WinCC OA</p>
                    <a asp-area="" asp-page="/BacnetPriority" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
