@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to the Privacy Policy page for my WinCC OA Tips and Tricks repository.</p>

<h2>Educational Purpose</h2>
<p>This repository is created and maintained for educational purposes only. Its primary goal is to share knowledge and information related to WinCC OA that has been gathered from practical experience.</p>

<h2>No Affiliation</h2>
<p>Please note that this repository is not officially affiliated with ETM Professional Control GmbH or Siemens AG. The content shared here is based on field experience and community contributions and is not endorsed by the aforementioned companies.</p>

<h2>No Data Collection</h2>
<p>We respect your privacy. This repository does not collect any personal information from its users. We do not use cookies, nor do we track user activity. There is no registration required to access the information, and we do not store any user data.</p>

<h2>No Revenue</h2>
<p>This repository is a non-commercial project and does not generate any revenue. It is freely accessible to anyone seeking to learn more about WinCC OA and to enhance their understanding and skills.</p>

<h2>Contact Information</h2>
<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at <pre>ivanvaladezcastaneda@gmail.com</pre>.</p>

<p>Thank you for using our repository, and we hope it serves as a valuable resource for your learning and projects.</p>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    h1 {
        color: #4a90e2;
        border-bottom: 2px solid #e6e6e6;
        padding-bottom: 10px;
    }

    h3, h4, h5 {
        color: #4a90e2;
    }

    form {
        background-color: #f5f7f9;
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-top: 10px;
        color: #4a90e2;
    }

    input[type="text"] {
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
    }

    input[type="button"] {
        margin-top: 20px;
        background-color: #4a90e2;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        input[type="button"]:hover {
            background-color: #357ab7;
        }

    pre {
        background-color: #e6e6e6;
        padding: 10px;
        border-radius: 4px;
    }
</style>