@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page is not approved by ETM Systems or Siemens</p>
<p>This is a page of documentation for Tips and Tricks learned in the Field</p>
