@page
@model WinCCOAOutsideInfoRepo.Pages.SystemInfoModel
@{
    ViewData["Title"] = "System Information";
}
<h1>@ViewData["Title"]</h1>

<h3>System Name</h3>
<p>When Creating a Project the name "System1" is always selected as default however when dealing with multiple systems such as in a distributed System</p>
<p>we may want to change the System Name as well as the System ID number, this can be easily done with a command instruction but is not very well explained in the official documentation.</p>
<p>However i will provide you with an example and also a easy to fill template so you can copy and run it in your projects</p>
